<a
href="{{lien}}"
class="flex items-center space-x-4 text-xl font-semibold p-3 rounded-full hover:bg-gray-800 transition-colors"
>
<img src="./public/{{nom_image}}" alt="Icon {{nom_image}}" />
<span>{{nom}}</span>
</a>