/* * {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
} */

@import "tailwindcss";
@source "../views";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
